.section {
  height:100vh;
  padding: 30%;
  text-align:center;
}

.section p {
  text-align:center;
}

.red {
  color: #AF3E3E;
}

.navbar{
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure it's above other elements */
  width: 100%;
}

.scrollToTop{
  position: fixed;
  bottom: 20px;
  right: 10%;
  z-index: 1000; /* Ensure it's above other elements */
  padding:10px;
  border-radius:140px;
  cursor: pointer;
}

h1{
  padding-bottom: 20px;
}

#about ul{
  margin: 5vh 0;
}