@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Text", serif;
  background-color:#fff;
  color: #4A4947;
  scroll-behavior: smooth; 
}